@font-face {
  font-family: "Charter";
  src: url("fonts/CahrterITC-Regu.otf") format("opentype");
}

body {
  background-color: #000;
}

h1 {
  font-family: "Charter";
  font-size: 36px;
  font-weight: 700;
}

p {
  font-family: "Charter";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2rem;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px blue dashed; */
}

.content div {
  /* border: red 1px dashed; */
}

.images {
  margin-right: 64px;
}

.text-content {
  color: #fff;
  margin-right: 72px;
}

#main-image {
  width: 480px;
  height: 360px;
  box-sizing: border-box;
  border-radius: 3px;
  object-fit: contain;
  margin-bottom: 24px;
  border: 1px solid #343434;
}

.slide-images {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border-radius: 3px;
  object-fit: cover;
  border: 1px solid #343434;
  margin-right: 24px;
}

#color-block {
  color: #000;
  background-color: #FEDD15;
  height: 12px;
}

#resource-description {
  width: 464px;
}

#checkout-button {
  font-size: 18px;
  padding: 12px 18px;
  border: #FEDD15 1px solid;
  border-radius: 3px;
  display: inline-block;
  flex-direction: row;
  margin-right: 36px;
}

a:link {
  color: #FEDD15;
  text-decoration: none;
}

.checkout-button a {
/*   border: 1px red dashed; */
  margin: auto;
}

#next-button {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: #FEDD15;
  border-radius: 32px;
}

.resource-header {
  margin-bottom: 24px;
}

.resource-description {
  margin-bottom: 36px;
}

.linked-buttons {
  display: flex;
}

/* Form CSS */
.form-container {
  min-width: 50%;
  min-height: 480px;
  padding: 64px 72px;
  background-color: #000;
  border-radius: 12px;
  /* border: 1px red dashed; */
}

.form-breadcrumb {
  display: flex;
  width: 114px;
  justify-content: space-between;
  margin-bottom: 72px;
}

.breadcrumb {
  height: 14px;
  width: 14px;
  border-radius: 3px;
  background-color: #F2F2F2;
}

.selected {
  background-color: #FEDD15 !important;
}

.form-question, .form-instruction {
  color: #fff;
}

.form-question {
  font-size: 36px;
}

.form-instruction {
  font-size: 18px;
  font-weight: 100;
}

/* Form Entry */
.fill-out {
  margin-bottom: 72px;
}

.entry-box {
  width: 80%;
  padding: 18px 0px;
  border: none;

  color: #FFF;
  font-family: "Charter";
  font-size: 64px;

  background-color: #000;
  border-bottom: 2px solid #19191B;
}

input[type=text] {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s;
  outline: none;
}

input[type=text]:focus {
  width: 120%;
  border-bottom: 2px solid #FEDD15;
}

::placeholder {
  color: #19191B;
}

.bespoken-button {
  font-size: 18px;
  font-family: "Charter";
  padding: 12px 18px;
  border: #FEDD15 1px solid;
  border-radius: 3px;
  display: inline-block;
  flex-direction: row;
  margin-right: 36px;
  background-color: #FEDD15
}

.bespoken-button a:link {
  color: #000;
  text-decoration: none;
}

.bespoken-button a:visited {
  color: #000;
  text-decoration: none;
}
